:root{
    --font-header: 'Playfair Display', sans-serif;
    --font-text: 'Lato', sans-serif;
    --button-blue: steelblue;
    --radius-button: 10px;
    --width-button: 90px;
}

html {
    font-family: var(--font-text);
    color:white;
    background-color: black;
}

.wrapper{
    width: 400px;
    margin: 0 auto;
}

h1{
    font-family: var(--font-header);
    padding: 10px;
    text-transform: uppercase;
}

header{
    text-align: center;
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px;
    font-weight: bold;
}

ul li:nth-child(3){
    background-color: var(--button-blue);
    border-radius: 10px;
    width: var(--width-button);
}

#solarSystem{
    background-image: url(../images/milky-way.jpg);
    background-size: cover;
    height: 600px;
}