:root{
    --font-header: 'Playfair Display', sans-serif;
    --font-text: 'Lato', sans-serif;
}

.wrapper{
    width: 400px;
    margin: 0 auto;
}

h1{
    font-family: var(--font-header);
}

html {
    font-family: var(--font-text);
}