:root{
    --font-header: 'Playfair Display', sans-serif;
    --font-text: 'Lato', sans-serif;
    --blue-color: #0065a8;
    --purple-color: #90105f;
    --white-color: #f5f5f5;
    --green-hover: #99ffcc;
    --radius-button: 10px;
    --width-button: 120px;
    --height-button: 35px;
    --text-upper: uppercase;
    --text-bolder: bolder;
    --active-red: 5px solid red;
}

html{
    font-family: var(--font-text);
    color: var(--white-color);
    background-color: black;
}

.wrapper{
    width: 400px;
    margin: 0 auto;
}

h1{
    font-family: var(--font-header);
    padding: 10px;
    text-transform: var(--text-upper);
}

header{
    text-align: center;
    height: 120px;
}

.rectangle{
    position: relative;
    display: inline-block;
    z-index: 0;
}

.rectangle::after{
    content: "";
    position: absolute;
    background-color: #0065a8;
    width: 110%;
    left: -6px;
    height: 15px;
    bottom: 15px;
    z-index: -1; 
}

nav > ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 10px;
    font-weight: var(--text-bolder);
}

nav > ul a{
    display: block;
    padding: 8px;
    border-radius: 10px;
    background-color: transparent;
    transition-property: background-color, color, transform;
    transition-duration: 0.2s;
}

ul > li:last-child a{
    background-color: var(--blue-color);
    width: var(--width-button);
}

a:link,
a:visited{
    text-decoration: none;
    color: var(--white-color)
}

nav > ul a:hover{
    background-color: var(--green-hover);
    color: black;
    transform: scale(1.2);
}

a:active{
    text-decoration: none;
    color: var(--white-color)
}

a:focus{
    text-decoration: none;
    outline: var(--active-red);
    border-radius: 8px;
}

#solarSystem{
    background-image: url(../images/milky-way.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 15px 15px rgb(235, 231, 162, 0.1);
    animation: zoomGalaxy 10s linear infinite;
}

@keyframes zoomGalaxy {
    0%{
        background-size: 200%;
    }
    25%{
        background-size: 210%;
    }
    50%{
        background-size: 220%;
    }
    75%{
        background-size: 230%;
    }
    100%{
        background-size: 240%;
    }
}

#solarSystem > h2, 
#solarSystem > p{
    position: relative;
    top: 200px;
    padding: 0 50px 0 50px;
}

#solarSystem > p:nth-child(1){
    text-transform: var(--text-upper);
    padding-bottom: 5px;
}

#solarSystem > h2{
    padding-bottom: 10px;
}

.highlight{
    background: linear-gradient(to right, #0065a8, #99ffcc);
    background-clip: text;
    background-size: 200% auto;
    color: transparent;
    animation-name: solarGradient;
    animation-delay: 0.5s;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

@keyframes solarGradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

#planets{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    gap: 30px;
    font-weight: var(--text-bolder);
}

#planets div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#planets div a{
    background-color: var(--blue-color);
    border-radius: 10px;
    width: var(--width-button);
    height: var(--height-button);
    font-size: 1.2rem;
    text-align: center;
    transition-property: background-color, color, transform;
    transition-duration: 0.2s;
}

#planets > div:nth-child(2) a, 
#planets > div:nth-child(3) a,
#planets > div:nth-child(6) a, 
#planets > div:nth-child(7) a{
    background-color: var(--purple-color);
}

#planets div a:hover{
    background-color: var(--green-hover);
    color: black;
    transform: scale(1.2);
}


footer{
    border-top: 1px white solid;
    text-align: center;
    padding-bottom: 30px;
    font-weight: var(--text-bolder);
}

footer > p{
    padding-top: 10px;
}

@media screen and (min-width: 900px) {
    .wrapper{
        width: 900px;
    }

    #solarSystem{
        width: 100%;
    }

    #solarSystem > h2, 
    #solarSystem > p{
        position: relative;
        top: 250px;
        padding: 0 50px 0 50px;
        text-align: left;
    }

    header{
        width: 400px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    #solarSystem > p:nth-child(1){
        padding-bottom: 10px;
    }

    #solarSystem > h2 {
        font-size: 2rem;
    }

    #solarSystem > p:nth-child(3){
        padding-top: 20px;
    }

    #planets{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    #planets > h2{
        grid-column: 1 / -1;
        text-align: center;
}

@media screen and (min-width: 1400px) {
    .wrapper{
        width: 1400px;    
    }

    header{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    h1{
        align-self: flex-start;
    }

    nav{
        align-self: flex-end;
    }

    nav ul a{
        margin: 20px 0 20px 20px;
    }

    #planets{
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    #planets h2{
        text-align: left;
    }

    #planets > div:nth-child(2) a, 
    #planets > div:nth-child(3) a,
    #planets > div:nth-child(4) a, 
    #planets > div:nth-child(5) a,
    #planets > div:nth-child(6) a{
        background-color: var(--purple-color);
    }

    #planets > div:last-child a{
        background-color: var(--blue-color);
    }

    #planets div a{
        transition-property: background-color, color, transform;
        transition-duration: 0.2s;
    }
    
    #planets div a:hover{
        background-color: var(--green-hover);
        color: black;
        transform: scale(1.2);
    }
}